<% meta = data.pages.home.meta %>

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4A6FD6">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
    <title><%= meta.title %></title>
    <meta name="description" content="<%= meta.description %>">
    <meta name="og:description" content="<%= meta.description %>">
    <meta name="og:title" content="<%= meta.title %>">
    <meta name="og:image" content="<%= config.base_url %><%= meta.image %>">
    <meta name="og:image:width" content="1200">
    <meta name="og:image:height" content="630">
    <meta name="og:type" content="website">
    <meta name="og:site_name" content="<%= meta.title %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= config.base_url %><%= meta.image %>">

    <%= stylesheet_link_tag "site" %>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <%= partial 'partials/header' %>
    <main>
      <%= yield %>
    </main>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
