<% content = data.pages.home.presentation %>

<section class="index-presentation">
  <div class="wrapper">
    <h2><%= content.title %></h2>
    <p class="large"><%= content.description %></p>
    <ul>
      <% content.features.each do |f| %>
      <li>
        <img src="<%= f.icon %>" alt="">
        <h3><%= f.title %></h3>
        <p><%= f.description %></p>
      </li>
      <% end %>
    </ul>
  </div>
</section>
