<% content = data.pages.home.presentation %>

<section class="index-presentation">
  <figure>
    <img src="<%= content.image %>" alt="<%= content.caption %>" />
    <figcaption><%= content.caption %></figcaption>
  </figure>
  <div class="info">
    <h2><%= content.title %></h2>
    <p class="large"><%= markdown(content.description) %></p>
  </div>
</section>
